<footer id="footer">
    <div class="row">
      <div class="col-lg-12 text-center">

        <ul class="list-unstyled">
            
          <a href="https://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;"> Blog </a>
          <a href="https://blog.bootswatch.com/rss/"> RSS </a>
          <a href="https://twitter.com/bootswatch"> Twitter </a>
          <a href="https://github.com/thomaspark/bootswatch/"> GitHub </a>
          <a href="https://bootswatch.com/help/#api"> API </a>
          <a href="https://bootswatch.com/help/#donate"> Donate </a>
        </ul>
        <p>Codigo bajo licencia <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE">MIT License</a>.</p>
        <div class="alert alert-dismissible alert-primary">
            <button type="button" class="close" data-dismiss="alert"></button>
            <h4 class="alert-heading text-center">2020 NativeGlass.com / Licencia bajo cc by-sa 1.0 con atribución requerida.</h4>
         
          </div>
      </div>
    </div>

  </footer>