
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body text-center">
               <h3 class="text-center"> +591 79353280</h3>
               <br>
               <h3 class="text-center"> Tambien puedes visitarnos en:</h3>
               <br>
                <h5 class="text-center">Sucursal Peru - Avenida Peru y B.Galindo acera noroeste</h5>
                <a href="https://www.google.com/maps/dir//-17.3933931,-66.1716392/@-17.3938636,-66.1721171,17.5z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien en:</h3>
               <br>
                <h5 class="text-center">Sucursal Castillo - Avenida Chapare Zona El Castillo</h5>
                <a href="https://www.google.com/maps/dir//-17.3933931,-66.1716392/@-17.3938636,-66.1721171,17.5z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien  en:</h3>
               <br>
                <h5 class="text-center">Sucursal Beijing - Avenida Beijing y America oeste</h5>
                <a href="https://www.google.com/maps/dir//-17.3933931,-66.1716392/@-17.3938636,-66.1721171,17.5z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien en:</h3>
               <br>
                <h5 class="text-center">Planta - Avenida Blanco Galindo KM7</h5>
                <a href="https://www.google.com/maps/dir//-17.3933931,-66.1716392/@-17.3938636,-66.1721171,17.5z">Ubicacion</a>
            </div>
        </div>
    </div>
</div>