
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body text-center">
                <img style="height: 70px; width: 25%; display: block text-center;"
                    src="https://n7.nextpng.com/sticker-png/281/957/sticker-png-flat-location-icon-symbol-flat-icon-location-sign-flat-icons-thumbnail.png"
                    alt="Card image">
               <h3 class="text-center"> +591 79353280</h3>
               <br>
               <h3 class="text-center text-primary"> Tambien puedes visitarnos en:</h3>
               <br>
                <h5 class="text-center">Sucursal Peru - Avenida Peru y B.Galindo acera noroeste</h5>
                <a href="https://www.google.com/maps/dir//-17.3933931,-66.1716392/@-17.3938636,-66.1721171,17.5z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien en:</h3>
               <br>
                <h5 class="text-center">Sucursal Castillo - Avenida Chapare Zona El Castillo</h5>
                <a href="https://www.google.es/maps/dir//-17.3822213,-66.1195813/@-17.3842466,-66.1214128,15.5z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien  en:</h3>
               <br>
                <h5 class="text-center">Sucursal Beijing - Avenida Beijing y America oeste</h5>
                <a href="https://www.google.es/maps/dir//-17.36867,-66.1796901/@-17.3692641,-66.1798885,17.25z">Ubicacion</a>
                <br>
                <h3 class="text-center"> O Tambien en:</h3>
               <br>
                <h5 class="text-center">Planta - Avenida Blanco Galindo KM7</h5>
                <a href="https://www.google.es/maps/dir//Cristembo+Fabrica+Cochabamba/@-17.393343,-66.223469,17.75z/data=!4m8!4m7!1m0!1m5!1m1!1s0x93e375836eb3dd97:0x9a987ca63ddb26e9!2m2!1d-66.2223957!2d-17.3927715">Ubicacion</a>
            </div>
        </div>
    </div>
</div>